/*
font
font-family: 'Caveat', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Staatliches', cursive;
*/

html {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rajdhani', sans-serif;
}
body {
	color: black;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	height: auto;
}
body.index {
	min-height: 1000px;
	margin: 50;    /* 체크 */
	margin-bottom: 50px;
	background: linear-gradient(160deg, #ffffff 30%, #5a89a5 50%, #006a78 64%, #01375b 75%, #04202e 88%);
	/*(130deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%) 
	(150deg, #ffffff 20%, #fffbfe 30%, #ffb69f 55%, #aa98ca 61%, #3e4a7c 71%, #171d41 85%)
	(150deg, #FFFFFF 20%, #FFAF7B 31%, #D76D77 40%, #3A1C71 60%);*/
}
div, footer, p, h1, h2 {
	box-sizing: border-box;
} 
a {
	color: whitesmoke;
	text-decoration: none;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 0 100px; 
	background: black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: 1s;
	z-index: 1000;
}
header.sticky, header.normal {
	height: 60px;
}
header .banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s;
}
header.sticky .banner, header.normal .banner {
	opacity: 0.5;
}
header .logo {
	position: absolute;
	width: 20vw; /*viewport width*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 1s;
	z-index: 100; /*우선순위로 끌어올리려고*/
}
header.sticky .logo, header.normal .logo {
	position: absolute;
	width: 70px;
	left: 100px;
	transform: translate(0, -50%);
}
header .mouse-scroll {
	position: absolute;
	width: 35px; 
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100; 
}
header.sticky .mouse-scroll, header.normal .mouse-scroll {
	display: none;
}
nav {
	position: relative;
	display: flex;
	z-index: 1000;
	padding-right: 50px;
}
nav ul {
	position: relative;
	display: flex;
	transition: 0.25s;
	transform: translateX(100px);  
	opacity: 0;   
}
header.sticky nav ul, header.normal nav ul {
	transform: translate(100px);
	opacity: 1;
	transition-delay: 0.75s;
	visibility: visible;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	color: white;
	display: inline-block;
	padding: 12px 18px;
	font-size: 1em;
	text-decoration: none;
}
nav ul li a:hover {
	color: darkcyan;
}
section.index-width {
	margin-top: 33vh;
	padding: 50px;
}

@media (max-width: 971px) {
	section, header {
		padding: 20px; /* 줄였을 때 헤더 높이 */
	}
	header .logo {
		width: 40vw; /*viewport width*/
	}
	header .mouse-scroll {
		top: 80%;
		left: 50%;
	}
	header.sticky .logo, header.normal .logo {
		left: 40px;
	}
	header.sticky .banner, header.normal .banner {
		opacity: 0;
	}
	nav ul {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	nav.active ul {
		position: fixed;
		top: 80px;
		left: 0;
		width: 100vw;
		margin-left: -100px;
		margin-top: -20px;
		height: calc(100% - 60px);
		background: black;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		opacity: 1;
		visibility: visible;
	}
	nav ul li a {
		font-size: 1.3em;
		padding: 10px 15px; /* 토글시 글자 간격 */
	}
	header.sticky .toggle, header.normal .toggle {
		position: fixed;
		top: 5px;
		right: 20px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		background: url(images/menu01.png);
		background-size: 5px;
		background-repeat: no-repeat;
		background-position: center;
	}
	header.sticky .toggle.active, header.normal .toggle.active {
		background: url(images/close01.png);
		background-size: 22px;
		background-repeat: no-repeat;
		background-position: center;
	}
	footer .logo2 {
		width: 90vw;
	}
	footer.ending-text {	
		margin-left: 10vw;
		margin-right: 10vw;
	}
}

img {
	max-width: 100%;
	height: auto;
}
.page-title {
	font-family: 'Staatliches', cursive;
	letter-spacing : 1px;
	/*font-family: 'Caveat', cursive;*/
	font-size: 80px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 70px;
}
.index-width {
	max-width: 900px; 
	margin: 0 auto;
	padding: 0 1rem;
	text-align: center;
}
.scroll-graphic { /* 이미지들을 총 모은 클래스 */
	overflow-x: hidden; /* 새 날아갔을 때 그 공간에 따라 스크롤 생기는 거 방지하려고 */
	position: sticky; /* 스크롤 시 위에 붙여있게 하려고 */
	top: 0;
	height: 110vh; /* view point height */
	max-height: 90%;
	z-index: -1;
}
.scene-item { /* 각각의 이미지 덩어리 클래스 */
	display: flex;
	align-items: center; /* 세로방향 센터 정렬 */
	justify-content: center; /* 가로방향 센터 정렬 */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.5s; /* 변환 시 부드럽게 되도록 애니메이션 시간텀을 준거 */
	will-change: opacity;
}
.visible {
	opacity: 1;
}
.scene-img { /* 진짜 각각의 이미지 따로따로 클래스 */
	max-height: 85vh;
}
.scroll-text {
	position: relative;
	z-index: -1;
	padding-bottom: 1px;
	max-width: 660px; /* 말풍선 박스 가로사이즈 */
}
.balloons { /* 말풍선 */
	color: #303030;
	font-size: 25px;
	font-weight: 400;
	text-align: center;
	align-items: center;
	margin-bottom: 70vh; /* 말풍선 사이 간격 */
	padding: 1.5rem 1.8rem; /* px을 써도 되는데 폰트 사이즈대비 하겠다 하면 rem으로 */
	border-radius: 11px;
	background: rgba(255, 255, 255, 0.86);
	box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
}
.stress { /* 말풍선 중에 마지막 강조 */
	font-size: 30px;
	font-weight: 500;
}
@media (max-width: 800px) {
	.page-title {
		font-size: 50px;
	}
	.balloons {
		font-size: 20px;
	}
}
#about {
	padding: 0px;
}
.logo2 {
	position: relative;
	width: 50vw;
	min-width: 200px;
	padding: 30px;
	margin-top: 100px;
}
.ending-text {
	color: white;
	position: relative;
	margin-left: 21vw;
	margin-right: 21vw;
	box-sizing: border-box;
	font-size: 25px;
	text-align: center;
	align-items: center;
	z-index: 0;
}
.grid {
	border-top: 0.2px solid whitesmoke;
	padding-top: 50px;
	font-size: 21px;
	font-weight: 300;
	list-style: none;
	text-align: center;
	align-items: center;
	padding-bottom: 50px;
}
.grid-item {
	color: whitesmoke;
	margin: 5px;
	padding-bottom: 50px;
}
.grid-item h2 {
	font-weight: 600;
}
footer ul li a:hover {
	color: darkcyan;
}

/* meditation */
.meditation-body {
	background-color: #333;
	/*position: relative;*/
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	z-index: -1;
}
.left-title, .right-title {
	position: absolute;
	display: block;
	color: white;
	font-size: 65px;
	font-weight: 700;
	letter-spacing: 0.3px;
	text-decoration: none;
	left: 50%;
	top: 45%;
	transform: translateX(-50%);
	white-space: nowrap;
	z-index: 101;
	padding:0;
	margin:0;
}
.left-text, .right-text {
	position: absolute;
	display: block;
	color: white;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	left: 50%;
	top: 54%;
	transform: translateX(-50%);
	white-space: nowrap;
	z-index: 101;
}
.left-title:hover, .right-title:hover {
	color: lightskyblue;
}
.split {
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.split.left {
	left: 0;
	background: url(images/wave_illust.jpg) center center no-repeat;
	background-size: cover;
}
.split.left:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(12, 39, 63, 0.6);
	/*try1이랑 잘어울림 rgba(68, 144, 153, 0.7)*/
	z-index: 1;
}
.split.right {
	right: 0;
	background: url(images/wave_illust2.jpg) center center no-repeat;
	background-size: cover;
}
.split.right:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(12, 39, 63, 0.6);
	z-index: 1;
}
.split.left, .split.right, .split.left:before, .split.right:before {
	transition: 2500ms all ease-in-out;
}
.hover-left .left {
	width: 65%;
}
.hover-left .right {
	width: 35%;
}
.hover-left .right:before {
	z-index: 100;
}
.hover-right .right {
	width: 65%;
}
.hover-right .left {
	width: 35%;
}
.hover-right .left:before {
	z-index: 100;
}

@media(max-width: 800px) {
	.left-title, .right-title {
		font-size: 40px;
	}
}

/*
.music {
	position: fixed;
	top: 50%;
	left: 50%;
}
*/



/* lob */
.lobs {
	min-height: 1000px;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	margin-top: -30px;
	background: linear-gradient(130deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	z-index: -1;
}
.name {
	color : white;
	width: 75%;
	font-size: 45px;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	border: none;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.nameInput {
	color : gray;
	width: 15rem;
	font-size: 27px;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	border: none;
	padding: 0.5rem 0.8rem;
	margin: 0.2rem;
}
.name, .compliment {
	display: none;
	text-align: center;
}
.showing {
	display: block;
	text-align: center;
}
input.nameInput {
	display: block;
	text-align: center;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#lob {
	color : white;
	width: 75%;
	font-size: 45px;
	font-family: 'Rajdhani', sans-serif;
	/*text-transform: lowercase; /*다 소문자로*/
	text-align: center;
	/* display: flex;
	align-items: center; 
	justify-content: center; */
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#btn {
	display: none;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*visibility: hidden;*/
}
#btn1, #btn2, #btn3 {
	background-color: transparent;
	color : white;
	font-size: 23px;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	display: inline-block;
	border: 1px solid white;
	border-radius: 5px;
	padding: 0.5rem 0.8rem;
	margin: 0.3rem;
}



/* sternenwunsch */
body.wunsch {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden; 
	/*background-color: #052536;*/
	background: linear-gradient(183deg, #021c2b 13%, #052536 70%, #263554 87%, #603e56 94%, #833b4e 97%, #9b373a 99%, #a53e42 100%);
	color: white;
}
.mouse-scroll2 {
	position: absolute;
	width: 35px; 
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
	z-index: 100; 
}
.stern-text {
	position: absolute;
	color: white;
	width: 100%;
	top: 44%;
	text-align: center;
	align-items: center;
	z-index: 200;
}
.stern-text h2 {
	font-size: 45px;
	padding-bottom: 18px;
}
.stern-text p {
	font-size: 21px;
	font-weight: 300;
}
section.sternschnuppe {
	position: absolute;
	top: 0;
	width: 100%;
	height: 150%; /*배경의 높이라 높이면 아래부분도 커짐*/
	background: url(images/stern_bg.png);
	background-position-x: center;
	background-size: cover;
	animation: animateBg 10s linear infinite;
	z-index: -1;
}
@keyframes animateBg {
	0%, 100% {
		transform: scale(1) rotate(1.4deg); /*회전 좋은데 그러면 사진을 바꿔야*/
	}
	50% {
		transform: scale(1.2);
	}
}
.sternschnuppe span {
	position: absolute;
	top: 50%;
	width: 7px; /*별똥별 머리 가로*/
	height: 3px;
	background: rgb(255, 255, 255);
	border-radius: 100%;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2),
	0 0 0 4px rgba(255, 255, 255, 0.2),
	0 0 0 14px rgba(255, 255, 255, 0.03);
	animation: animateS 5s linear infinite;
}
.sternschnuppe span::before {
	content: '';
	position: absolute;
	top: 50%;
	right: 100%;
	width: 500px; /*별똥별 꼬리 길이*/
	height: 1.7px; /*별똥별 꼬리 두께*/
	background: linear-gradient(270deg, rgba(231, 255, 165, 0.5) 10%,  rgba(254, 255, 172, 0.4) 30%, rgba(255, 185, 255, 0.2) 70%, rgba(188, 255, 202, 0.1) 80%, transparent);
}
@keyframes animateS {
	0% {
		transform: rotate(37deg) translateX(0);
		opacity: 1;
	}
	70% {
		opacity: 0.6;
	}
	100% {
		transform: rotate(37deg) translateX(1000px);
		opacity: 1;
	}
}
.sternschnuppe span:nth-child(1) {
	top: 13%;
	left: 30%;
	animation-delay: 0;
	animation-duration: 2s;
}
.sternschnuppe span:nth-child(2) {
	top: 18%;
	left: 82%;
	animation-delay: -0.2s;
	animation-duration: 2.1s;
}
.sternschnuppe span:nth-child(3) {
	top: 32%;
	left: 11%;
	animation-delay: -0.1s;
	animation-duration: 2.2s;
}
.sternschnuppe span:nth-child(4) {
	top: 20%;
	right: 40%;
	animation-delay: -1.6s;
	animation-duration: 1.5s;
}
.sternschnuppe span:nth-child(5) {
	top: 71%;
	right: 3%;
	animation-delay: -0.5s;
	animation-duration: 2.1s;
}
.sternschnuppe span:nth-child(6) {
	top: 27%;
	right: 78%;
	animation-delay: -2.3s;
	animation-duration: 3.2s;
}
.sternschnuppe span:nth-child(7) {
	top: 51%;
	right: 83%;
	animation-delay: -0.9s;
	animation-duration: 1.9s;
}
#wunsch-top {
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: 900px;
}
#wunsch-main {
	/*display: none;*/
	color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 250px;
	z-index: 600;
}
#wunsch-main h2 {
	font-weight: 600;
}
#wunsch-main p {
	margin-top: 10px;
	font-weight: 300;
}
.wunsch-input {
	font-size: 24px;
	color: rgb(70, 70, 70);
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 40px; 
	text-align: center;
	align-items: center;
	margin-left: 33%;
	margin-right: 33%;
	padding-bottom: 200px;
}
.wunsch-input-item {
	position: relative;
	margin-bottom: 20px;
}
.wunsch-input-item.w50 {
	width: 200px;
	min-width: 200px;
}
.wunsch-input-item.w100 {
	width: 100%;
	min-width: 200px;
	/* height: 40px; 높이는 맞는데 하면 겹쳐짐*/ 
}
.wunsch-input-item input,
.wunsch-input-item textarea {
	width: 100%;
	resize: none;
	padding: 5px 0;
	font-size: 20px;
	font-weight: 300;
	color: #333;
	/*border: none;
	outline: none;*/
	border: 1px solid white;
}
.wunsch-input-item textarea {
	height: 120px;
}
.wunsch-input-item span {
	position: absolute;
	left: 0;
	padding: 5px 3px;
	pointer-events: none;
	font-size: 20px;
	font-weight: 300;
	transition: 0.4s;
}
.wunsch-input-item input:focus ~ span,
.wunsch-input-item input:valid ~ span,
.wunsch-input-item textarea:focus ~ span,
.wunsch-input-item textarea:valid ~ span {
	transform: translateY(-26px);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	color:rgb(211, 211, 211);
}
.wunsch-input-item input[type="submit"] {
	font-weight: 400;
	position: relative;
	width: 500px;
	cursor: pointer;
	background: #104b6d;
	color: white;
	border: none;
	max-width: 200px;
	padding: 10px;
}
.andere-wunsche {
	position: relative;
	margin-top: 600px;
	margin-bottom: 150px;
}
.andere-wunsche div {
	position: absolute;
	width: 5px; 
	height: 5px;
	background:  rgb(255, 255, 255);
	border-radius: 100%;
	box-shadow: 0px 0px 10px 0.2px rgba(255, 255, 255, 1),
	0px 0px 20px 10px rgba(255, 255, 255, 0.1),
	0px 0px 30px 30px rgba(255, 255, 255, 0.07);
	animation: animateA 2s infinite;
}
.andere-wunsche span {  /* andere Wunsche */
	font-size: 18px;
	visibility: hidden;
    width: 360px;
	margin-left: -180px; /*중앙맞춤하려고 width반으로 나눈거 뺀거*/
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.3);
	text-align: left;
	border-radius: 4px;
	padding: 16px 20px; /*메세지 내부 간격*/
	margin-top: 25px; /*별에서 메세지 간격*/
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}
@keyframes animateA {
	0% {
		transform: scale(1);
		opacity: 0.9;
	}
	25% {
		transform: translateY(0.6px);
		opacity: 1;
	}
	60% {
		transform: scale(1.8) translateY(-0.6px);
		opacity: 0.9;
	}
	100% {
		transform: scale(1);
		opacity: 0.8;
	}
}
.andere-wunsche div:hover {
	background-color: rgb(255, 255, 234);
	animation: animateB 20s linear infinite;
	/*animateB 0.1s linear infinite*/
}
.andere-wunsche div:hover .wunsch-text {
	visibility: visible;
	animation: none;
}
@keyframes animateB {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.04);
	}
	100% {
		transform: scale(1);
	}
}
/* @keyframes animateB {
	0% {
		transform: scale(1.5);
	}
	10% {
		transform: scale(2);
	}
	30% {
		transform: scale(3);
		opacity: 0.9;
	}
	60% {
		transform: scale(4.5);
	}
	90% {
		transform: scale(2);
		opacity: 0.9;
	}
	100% {
		transform: scale(1.5);
	}
} */
.andere-wunsche #wunsch1 {
	left: 14%;
	margin-top: -300px;
	animation-delay: -1.6s;
	animation-duration: 1.5s;
}
.andere-wunsche #wunsch2 {
	left: 31%;
	margin-top: -430px;
	animation-delay: -0.5s;
	animation-duration: 2.1s;
}
.andere-wunsche #wunsch3 {
	left: 43%;
	margin-top: -400px;
	animation-delay: -0.2s;
	animation-duration: 2.1s;
}
.andere-wunsche #wunsch4 {
	left: 61%;
	margin-top: -230px;
	animation-delay: 0;
	animation-duration: 2s;
}
.andere-wunsche #wunsch5 {
	left: 73%;
	margin-top: -490px;
	animation-delay: -0.1s;
	animation-duration: 1.8s;
}
.andere-wunsche #wunsch6 {
	left: 86%;
	margin-top: -310px;
	animation-delay: -2.3s;
	animation-duration: 3.2s;
}


/* kontakt */
.kontakt-body {
	position: relative;
	width: 100%; 
	height: 97vh;
	margin-top: 0;
	background: linear-gradient(180deg,#398FC1 5%, #419FD5 50%);
	z-index: -1;
}
.kontakt-top {
	color: white;
	text-align: center;
	align-items: center;
}
.kontakt-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.kontakt-logo {
	margin: 5px;
	padding: 15px;
	padding-top: 30vh;
	width: 21vw;
	z-index: 100;
}
.kontakt-top h2 {
	font-size: 48px;
	letter-spacing: 0.7px;
}
.kontakt-top p {
	font-size: 22px;
}
.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(images/wave.png);
	background-size: 1000px 100px;
	animation: animateW 5s ease-in-out infinite;
	animation-delay: calc(var c(--i) * 2s);
}
.wave#wave1 {
	z-index: 500;
	opacity: 1;
	background-position-x: -500px;
}
.wave#wave2 {
	z-index: 499;
	opacity: 0.3;
	background-position-x: 10px;
}
.wave#wave3 {
	z-index: 498;
	opacity: 0.5;
	background-position-x: -100px;
}
.wave#wave4 {
	z-index: 497;
	opacity: 0.2;
	background-position-x: 20px;
}
.wave#wave5 {
	z-index: 496;
	opacity: 0.4;
	background-position-x: 650px;
}
@keyframes animateW {
	0%, 100% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(25px);
	}
}
.kontakt-bottom {
	padding: 100px; /* 파도 아래 글씨 패딩간격 */
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}
.kontakt-bottom h2 {
	letter-spacing: 1px;
	color: rgb(70, 70, 70);
	font-size: 35px;
	font-weight: 600;
}
.kontakt-input {
	font-size: 24px;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.kontakt-input-item {
	position: relative;
	margin-bottom: 30px;
	align-items: center; /* 소용이 없구나~ */
}
.kontakt-input-item.w50 {
	width: 48%;
}
.kontakt-input-item.w100 {
	width: 100%;
}
.kontakt-input-item input,
.kontakt-input-item textarea {
	width: 100%;
	resize: none;
	padding: 5px 0;
	font-size: 20px;
	font-weight: 300;
	color: #333;
	/*border: none;
	outline: none;*/
	border: 1px solid #419FD5;
}
.kontakt-input-item textarea {
	height: 120px;
}
.kontakt-input-item span {
	position: absolute;
	left: 0;
	padding: 5px 3px;
	pointer-events: none;
	font-size: 20px;
	font-weight: 300;
	transition: 0.4s;
}
.kontakt-input-item input:focus ~ span,
.kontakt-input-item input:valid ~ span,
.kontakt-input-item textarea:focus ~ span,
.kontakt-input-item textarea:valid ~ span {
	transform: translateY(-26px);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	color:#419FD5;
}
.kontakt-input-item input[type="submit"] {
	font-weight: 400;
	position: relative;
	width: 500px;
	cursor: pointer;
	background: #419FD5;
	color: white;
	border: none;
	max-width: 200px;
	padding: 10px;
}

.kontakt-bottom p.copyright {
	color: gray;
	font-weight: 300;
	font-size: 15px;
}
@media (max-width: 800px) {
	.kontakt-logo {
		padding-top: 100px;
		width: 200px;
	}
	.kontakt-bottom {
		margin: 30px;
		padding: 0;
	}
}